---

const renderedContent = await Astro.slots.render('default');

interface Props {
  initialDelay?: number;
  delayInterval?: number;
  class?: string;
}

const {
  initialDelay = 0,
  delayInterval = 150,
  class: className,
} = Astro.props;

---

<div data-reveal-stagger class:list={className} style={`--stagger-initial: ${initialDelay}ms; --stagger-step: ${delayInterval}ms;`}>
    <Fragment set:html={renderedContent}/>
</div>