---
import "../styles/global.css";
import Navbar from "../sections/Navbar.astro";
import Footer from "../sections/Footer.astro";

interface Props {
	title?: string;
}

const { title = "Landing Page" } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex min-h-full flex-col bg-background font-body text-primary">
		<Navbar />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
